* {
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
header h1 {
    text-align: center;
}
body {
    margin: 0;
    background-color: #0d0215;
}
canvas {
    display: block;
}
nav { 
    position: absolute;
    top: 7%;
    width: 20%;
    display: none;
}
nav ul { 
    padding: 0px;
    list-style: none;
}
nav ul li { 
    padding: 10px;
    border-radius: 25px;
    list-style: none;
}
nav ul li:hover { 
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.7);
}
nav ul li a { 
  text-decoration: none;
}
#home {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    margin-top: 90px;
}
#home div h2 {
    margin: 40px;
}

.menu-list {
    display: none;
}

.menu-list.visible {
    display: block;
}

#animationCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Para colocar o canvas atrás do conteúdo */
    display: block;
    width: 100%;
    height: 100%;
}
.menu {
    width: 50px;
    padding: 10px;
    cursor: pointer;
}
.menu img {
    width: 100%;
}

#services {
    padding: 50px 0;
}

#services .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

#services h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    color: #ffffff;
}

#services .service {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#services .service h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #fff;
}

#services .service p {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
}

#about .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}

#contact .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
    margin-top: 120px;
}

#contact .container form {
   width: 30%;
}
#contact .container form label {
    padding: 10px;
    margin: 10px;
    color: white;
}
#contact .container form input, textarea, button {
    border: solid black;
    border-radius: 20px;
    padding: 10px;
    width: 92%;
    margin: 10px;
    color: white;
    background-color: rgba(50, 50, 50, 0.7);
}
#contact .container form button {
    border: solid black;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    margin: 10px;
    color: white;
    background-color: rgba(50, 50, 50, 0.7);
}
#contact .container form button:hover {
    cursor: pointer;
    background-color: rgba(105, 97, 97, 0.7);
}
.whats{
    width: 7%;
    position: fixed;
    right: 1%;
    bottom: 1%;
}
.whats img{
    width: 100%;
}

footer {
    text-align: center;
    padding: 5px;
    border: solid black;
    background-color: rgba(50, 50, 50, 0.7);
}

/* Responsividade */
@media (max-width: 1200px) {
    #about .container, #contact .container {
        padding: 0 40px;
    }
}

@media (max-width: 768px) {
    #services .container {
        padding: 0 20px;
    }

    nav {
        width: 100%;
        top: 0;
        position: relative;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contact .container form {
        width: 60%;
    }
}

@media (max-width: 480px) {
    .menu {
        width: 40px;
        padding: 8px;
    }

    #contact .container form {
        width: 80%;
    }
}
